<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
    下拉式菜单
  </button>
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
    <% if user_signed_in? %>
      <li><%=link_to "edit profile",  edit_user_registration_path(current_user.id), class:"dropdown-item "  %></li>
      <li><%=link_to "add a project", new_user_project_path(:user_id), class:"dropdown-item"  %></li>
      <li><hr class="dropdown-divider"></li>
      <li><%=link_to "logout", destroy_user_session_path, method: :delete, class:"dropdown-item" %></li>
    <% else %>
      <li><%=link_to "登录", new_user_session_path, class:"dropdown-item" %></li>
    <% end %>
  </ul>
</div>

<div class = "card-container"></div>
  <div class="row d-flex justify-content-around">
    <% @users.each do |user| %>
      <div class="col-lg-12 col-md-12 col-sm-6">
        <div class="card" data-state="#about">
          <div class="card-header">
          <div class="card-cover" style="background-image: url('https://images.unsplash.com/photo-1549068106-b024baf5062d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80')"></div>
          <img class="card-avatar" src="https://media-exp1.licdn.com/dms/image/C4E03AQFpVzxPZc8eqg/profile-displayphoto-shrink_400_400/0/1650365741225?e=1655942400&v=beta&t=VWXGY9VUBepbqBxF0t3eT062ZZUSbwRITwB7YdG9Ia8" alt="avatar" />
            <%#= cl_image_tag @user.profile_picture%>
          <h1 class="card-fullname">Arnaud Le Garrec<%=user.id%></h1>
          <h2 class="card-jobtitle">Ruby on Rails Developer</h2>
          </div>
          <div class="card-main">
          <div class="card-section is-active" id="about">
            <div class="card-content">
              <div class="card-subtitle">ABOUT</div>
              <p class="card-desc"> I am a freelance web developer working with <strong>ruby on rails</strong> for the back-end side. I enjoy using <strong>Shopify</strong> for the e-commerce projects.
              To see some of my projects or contact me click the links bellow.
              </p>
            </div>
          </div>
          <div class="card-buttons">
              <%=link_to   user_projects_path(user) do %>
              <button data-section="#experience">PROJECTS</button>
              <% end %>
              <%=link_to  user_path(user.id) do %>
              <button data-section="#contact">CONTACT</button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
