 <div class="projects-container">
  <div class="row d-flex justify-content-around">
    <% @projects.each do |project| %>
      <div class="col-lg-3 col-md-4 col-sm-6">

     <div class="card-1">
        <%=link_to project.link, :target => "_blank" do %>
          <%= cl_image_tag project.project_image, style:"width: 95%; height: 75%; object-fit: cover;  opacity: 0.5; border-radius: 10px; filter: blur(1px); margin-left: 5%; margin-top: 15%"%>
          <div class="img-container">
            <div class="title-container">
            </div>
          </div>
          <div class="card-content-centered">
            <h1><%=project.name%><%=project.user_id %></h1>
            <%# <h3> blabla </h3> %>
            <p class="project-description"><%=project.description%></p>
          </div>
          <div class="bubles">
            <div class = "type">
              <% @skills = project.project_type.split(",") %>
              <% @skills.each do |skill|%>
                <p class="project-type">#<%=skill%></p>
              <% end %>
            </div>
            <div class = "techno">
              <% @technos = project.used_techno.split(",")%>
              <% @technos.each do |techno|%>
                <p class="project-used_techno">#<%=techno%></p>
              <% end %>
            </div>
          </div>
        <% end %>
        </div>

      </div>
    <% end %>
  </div>
</div>
