 <div class="projects-container">
  <div class="row d-flex justify-content-around">
    <%= @projects.each do |project| %>
      <div class="col-lg-4 col-sm-6">
      <div class="card-1">
        <%# <div class="card-1_image"> <img src="" /> </div> %>
        <%# ../app/assets/images/cyberpunk-city-buildings-art.jpeg %>
        <div class="card-1-content">
        <h1><%=project.name%></h1>
        <h3><%=link_to "SEE WEBSITE", "https://www.poner.io/", :target => "_blank" %></h3>
          <p class="project-description"><%=project.description%></p>
        </div>
        <p class="project-type"><%= "project type"%></p>
        <p class="project-used_techno"><%="used_techno"%></p>
      </div>
      </div>
    <% end %>
  </div>
</div>
